*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
nav{
    display: flex;
    background-color: blueviolet;
    width: 100vw;
    height: 20vh;
    margin: auto;
    justify-content: space-between
    position: fixed;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    font-size: 2.5rem;
    margin: 2rem;
    
   
}
nav a{
    text-decoration: none;
}
.item{

}
.flex{
    display: flex;
    
}
.logolog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}